* text=auto
*.cs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.asmdef text eol=lf
*.inputactions text eol=lf
*.txt text eol=lf
